<div class="container">
  <header class="pageHeader">
 </header>

  <div [@fadeInOut]>
   



    <div *ngIf="configurations.showDashboardNotifications" class="row bottom-space">
      <button type="button" class="close pull-right todo-close-btn" aria-label="Close" title="Close" (click)="configurations.showDashboardNotifications = false">
        <span aria-hidden="true">&times;</span>
      </button>
    
      <div class="clearfix"></div>
    </div>

   <div><valuation></valuation>  </div>
</div>

<!--<ng-adsense></ng-adsense>-->
